.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}


/* ======================================================
   АБЗАЦ
   ====================================================== */

.paragraph {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}


/* ======================================================
   БЛОК ОДНОГО СЛОВА
   ====================================================== */

.wordBlock {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


/* ======================================================
   СЛОВО
   ====================================================== */

.word {
  font-size: 25px;
}


/* ======================================================
   ПРОЧИТАННОЕ СЛОВО
   ====================================================== */

.highlighted {
  color: #343333;
  background: #86ff98;
  border-radius: 8px;
  padding: 2px 2px;
}


/* ======================================================
   СЛОВО, КОТОРОЕ СЕЙЧАС ЧИТАЕМ
   ====================================================== */

.active {
  background: gold;
  border-radius: 6px;
  padding: 2px 2px;
}


/* ======================================================
   🎤 МАЛЕНЬКИЙ МИКРОФОН
   ====================================================== */

.miniMic {
  margin-top: 4px;
  border: none;
  background: #eee;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
}


/* ======================================================
   👂 КНОПКА ПРОСЛУШАТЬ
   ====================================================== */

.listenButton {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #dbeafe;
  font-size: 14px;
}


.listenButton:hover {
  transform: scale(1.05);
}