.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wordBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word {
  font-size: 25px;
  
}

.highlighted {
  color: #f5f7fa;

  background: #f5f7fa;

  border-radius: 8px;

  padding: 2px 2px;

}

.active {
  background: gold;
  border-radius: 6px;
  padding: 2px 2px;
}

.miniMic {
  margin-top: 4px;
  border: none;
  background: #eee;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.listenButton {

  width: 28px;

  height: 28px;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  background: #dbeafe;

  font-size: 14px;

}

.listenButton:hover {

  transform: scale(1);
}